<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>

        <File name="FileAppender" filename="./logs/${sys:logfilename}.log">
            <PattenLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PattenLayout>
        </File>

        <Async name="AsyncAppender" bufferSize="80">
            <AppenderRef ref="FileAppender" />
        </Async>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console" level="WARN"/>
            <AppenderRef ref="FileAppender" level="DEBUG"/>

        </Root>
    </Loggers>
</Configuration>